fichiersLabAnalyse_images/fashion-mnist_test.csv
fichiersLabAnalyse_images/fashion-mnist_train.csv
fichiersLabAnalyse_images/t10k-images.idx3-ubyte
fichiersLabAnalyse_images/t10k-labels.idx1-ubyte
fichiersLabAnalyse_images/train-images.idx3-ubyte
fichiersLabAnalyse_images/train-labels.idx1-ubyte
